.tabela{
    border-collapse: collapse;
    width: 100%;
}

.tabela th, .tabela td{
    border: 1px solid;
    padding: 5px;
}

.tabela tbody td {
    background-color: gray;
}

.tabela tfoot td{
    font-weight: bold;
    text-align: center;
}