form {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: hsl(239, 97%, 39%);
    color: white;
    border: none;
    border: 4px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(202, 69%, 42%);
}