 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  height: 100px;
  background-color: crimson;
  margin: 10px;
}
div {
  display: flex;
  max-width: 100%;
  gap: 10px;
  margin: 10px;
  height: calc(100vh - 130px);
}
aside {
  flex: 1; /* Ajustando para ocupar todo o espaço restante, só funciona com display flex */
  max-width: 180px;
  background-color: aqua;
}
main {
  flex: 1; /* Ajustando para ocupar todo o espaço restante, só funciona com display flex */
  background-color: gray;
}